#homee .grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 20px;
}

/* Non-grid specific CSS */
#homee body {
  margin: 10px;
	color: #374046;
	background-color: #374046;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.15em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

#homee .item {
  background-color: #ffffff;
}

#homee .photothumb{
  width: 100%;
}

#homee .title {
  padding: 20px;
 }

#homee .title h3{
  font-size: 1.2em;
  color: #ffffff;
  text-transform: uppercase;
}

#homee .project .title{
  background-color: #607D8B;
}

#homee .blog .title{
  background-color: #ff9800;
}

#homee .photo .title{
  background-color: #f44336;
}

#homee .desc{
  padding: 10px 10px 5px 10px;
}

#homee .desc img{
  width: 50%;
  margin: 0 10px 10px 0;
  float: left;
}

#homee .desc p{
  margin-bottom: 10px;
}
