.hidden {
  opacity: 0;
}

.winner-is-container {
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}

  .winner-is-container h1 {
    text-align: center;
    margin: 100px;
  }

.button-container {
  display: flex;
  height: 300px;
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}

.button-container button {
  margin: auto;
  background-color: rgba(255,255,255,0.3);
  border-radius: 0;
}

.button-container button:hover {
  background-color: rgba(255,255,255,0.5);
  color: white;
}
